@page "/almacen"
@using NirvanaMAUIApp.Generic;
@using NirvanaMAUIApp.Models
@using NirvanaMAUIApp.Services
@using MudBlazor
@using NirvanaMAUIApp.StateCurrent
@inject AlmacenStateService AlmacenStateService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IAlmacenService service
<h3>Almacén</h3>
@if (_data == null)
{
    <p><em>Cargando</em></p>
}
else
{

    @foreach (var result in _data)
    {
        <MudCard  Style="overflow: hidden; margin-bottom: 16px;" @key="@result.almacenId">
            <MudCardContent Style="width: 100%;">
                @if (currentlyEditingItemId == result.almacenId)
                {
                    <MudCardContent Style="width: 100%;">
                        <MudTextField @bind-Value="result.nombre" Label="Nombre" />
                        <MudTextField @bind-Value="result.descripcion" Label="Descripción" />
                        <MudTextField @bind-Value="result.sucursalId" Label="Sucursal" />
                        <MudTextField @bind-Value="result.estado" Label="estado" />
                    </MudCardContent>
                }
                else
                {
                    <MudCardContent Style="width: 100%;">
                        <MudText Typo="Typo.h4">Nombre: @result.nombre</MudText>
                        <MudText>Descripción: @result.descripcion</MudText>
                        <MudText>Sucursal: @result.sucursalId</MudText>
                        <MudText>Estado: @result.estado</MudText>
                    </MudCardContent>
                }
            </MudCardContent>
            <MudCardActions Style="display: flex; width: 100%;">
                <MudButton Color="Color.Primary" OnClick="() => OpenEditDialog(result)">Editar</MudButton>
                <MudButton Color="Color.Secondary" Style="width: 50%;" OnClick="() => Delete(result.almacenId)">Eliminar</MudButton>
            </MudCardActions>
        </MudCard>
    }
    <MudFab OnClick="() => OpenCreateDialog()" Class="boton-flotante" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />

}
<style>
    .boton-flotante {
        position: fixed; /* Fija el elemento en la misma posición de la pantalla */
        bottom: 16px; /* Distancia desde la parte inferior de la pantalla */
        right: 16px; /* Distancia desde la parte derecha de la pantalla */
        z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
    }
</style>

@code {
    private List<AlmacenModels> _data;
    private bool isEditing = false;
    private int? currentlyEditingItemId = null;
    private async Task OpenCreateDialog()
    {
        // Si no se proporciona un objeto AlmacenModels, crea uno nuevo
        AlmacenModels almacen = new AlmacenModels();

        AlmacenStateService.CurrentAlmacen = almacen;

        // Navega a la página del formulario de edición
        NavigationManager.NavigateTo("/EditAlmacenDialog");
    }

    private async Task OpenEditDialog(AlmacenModels almacen)
    {
        AlmacenStateService.CurrentAlmacen = almacen;

        // Navega a la página del formulario de edición
        NavigationManager.NavigateTo("/EditAlmacenDialog");
    }

    private async Task Delete(int itemId)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Confirmar eliminación",
            "¿Estás seguro de que deseas eliminar?",
            yesText: "Eliminar",
            cancelText: "Cancelar"
        );

        if (result == true)
        {
            // El usuario confirmó la eliminación
            var success = await service.DeleteAlmacen(itemId);
            if (success)
            {
                Snackbar.Add("Almacén eliminado con éxito", Severity.Success);
                LoadData(); // Recarga los datos para reflejar la eliminación
            }
            else
            {
                Snackbar.Add("Error al eliminar el almacén", Severity.Error);
            }
        }
        else
        {
            // El usuario canceló la eliminación
            Snackbar.Add("Eliminación cancelada", Severity.Info);
        }
    }

    private async void LoadData()
    {
        _data = await service.All();

    }
    protected override async Task OnInitializedAsync() => _data = await service.All();
}
